body {
    background:#3B3C40;
    font-family: 'Courier New', Courier, monospace;
}

.assignments{
    display: flex;
    flex-wrap: wrap;
}

.assingment{
    width: 22%;
    padding: 20px 10px;
    margin: 10px;
    background: #D9B60B;
    border-radius: 5px;
    
}

.assingment img{
    width: 200px;
    margin: 10px;
    border: 4px solid #735E1F;
    display: block;
    margin: auto;
}
.assingment img:hover{

    border: 4px solid #3B3C40;
}

h1{
    color:#D9A60D;
    text-align: center;
}
h1:hover{
    color: #A68217;
}

a:hover{
    color: #3B3C40;
}

h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: #735E1F;
}